@import base.sass

+blueprint-typography
+blueprint-utilities
+blueprint-grid
// +blueprint-debug("/images/grid.png")
+blueprint-interaction
+blueprint-form

=box
  +border-radius
  border: 1px solid #ccc
  padding-top: 15px
  padding-bottom: 15px
  background-color: #eee

body
  font: Arial, Helvetica, Sans-Serif
  +reset-box-model

.container
  padding: 5px
  +container
  +prepend-top(2em)

.header
  +column(8)
  text-align: right
  +append-bottom(2em)
  h1
    margin: 0px
    padding: 0px
    font-size: 64px
    .muted
      color: #777
    .solutions
      font-weight: bold
  .tagline
    display: inline
    font-size: 18px
    font-variant: small-caps
  #right-box
    +prepend-top(0.5em)
    +box
    +column(2)
    float: right
    background-color: #fff
    border-left: 0
    margin-right: 0
    border-bottom: 0

.main
  +prepend-top(0.8em)
  +column(11)
  +box
  padding: 5px

.footer
  +prepend-top(1em)
  +column(19.25)
  font-size: 10px
  color: #777
  text-align: right
