@import base.sass

+blueprint-typography
+blueprint-utilities
+blueprint-grid
// +blueprint-debug("/images/grid.png")
+blueprint-interaction
+blueprint-form

=box
  +border-radius
  border: 1px solid #ccc
  padding-top: 15px
  padding-bottom: 15px
  background-color: #eee

body
  font: Arial, Helvetica, Sans-Serif
  +reset-box-model

.container
  +container

.header
  +column(18.8)
  +append-bottom(3em)
  padding: 10px
  +border-radius
  border-bottom: 1px solid #ccc
  font-size: 16px
  font-weight: bold
  font-variant: small-caps

  #left-button
    float: left
    padding-right: 10px

  #right-button
    float: right
    padding-left: 10px

.sidebar
  +column(8)
  text-align: right
  +append-bottom(2em)
  h1
    margin: 0px
    padding: 0px
    font-size: 64px
    .muted
      color: #777
    .solutions
      font-weight: bold
  .tagline
    display: inline
    font-size: 17px
    font-variant: small-caps
  #clear
    clear: both
  #right-box
    +box
    +column(0.75)
    padding: 0
    margin: 0
    float: right
    background-color: #fff
    border-left: 0
    margin-right: 0
    border-bottom: 0

.main
  +prepend-top(0.8em)
  +column(11)
  +box
  padding: 5px

.footer
  +prepend-top(1em)
  +column(19.25)
  font-size: 10px
  color: #777
  text-align: right

#contact-type
  +prepend-top(2em)
  h3
    margin: 0
    padding: 0

#project
  li
    +no-bullet
    +prepend-top(1em)

#publication
  li
    +no-bullet
    +prepend-top(1em)

