%h2 Why Muted Solutions?

%p
  After several years of small contracts on the side of my day jobs, 
  I was given the opportunity to dive into independent work, 100%. I change
  my company name to Muted Solutions in 2010 to reflect my philosopy of
  building and delivering software: building and delivering software that
  is intuitive in use and gets out of your way so that you can focus on
  your business, not the software that runs it.

%h2 About Derick Bailey
%p
  I am a software developer, technology 
  leader and active 
  developer community member in Texas as well as online. 

%p
  My experience includes many different languages and platforms, ranging 
  from Linux to Windows, client-server distributed architecture 
  to simple web sites, and much more. I'm currently specializing in Ruby,
  Sinatra, Ruby on Rails, JavaScript, and Backbone.js application development.
  I've also spent near 10 years working in Microsoft .NET, including WinForms,
  PocketPC, ASP.NET and back-end services development. 

%p
  I have worked with teams as small as 
  myself and one other person, to more than sixty developers, testers, 
  project managers, etc. In any endeavor I engage, no matter the size of 
  the team or project, I strive to provide the highest quality products 
  and services while working within the time and budget contstraints of 
  the real world.

%p
  For more information, please
  %a{:href => "/contact"} contact me

