%h2 About Muted Solutions

%p
  My name is Derick Bailey, and I started Muted Solutions in 2010 with the goal of bringing professional software solutions to small and medium sized business, both afordably and elegantly. 

%p
  I am a software developer, architect, and technology leader in central Texas and have been active in developer communities around Texas (including Austin, San Antonio and Dallas), and other parts of the United States, as well as online.

%p
  My experience includes many different languages and platforms, ranging from Linux to Windows, .NET to Ruby, client-server distributed architecture to simple web sites, and much more. I have worked with teams as small as myself and one other person, to more than sixty developers, testers, project managers, etc. In any endeavor I engage, no matter the size of the team or project, I strive to provide the highest quality products and services while working within the time and budget contstraints of the real world.

%p
  Please feel free to 
  %a{:href => "/contact"} contact me
  any time.
