%h2 
  Contact Me

%p
  Please feel free to contact me with any questions, comments, requests for more information, etc. I will generally respond within 1 business day. 

#contact-type
  %h3
    Phone
  %a{:name => "phone"} 254-640-2096

#contact-type
  %h3
    E-Mail
  %a{:href => "mailto:derick@mutedsolutions.com"} derick@mutedsolutions.com

#contact-type
  %h3
    Skype
  %a{:href => "skype:derickbialey?call"} derickbailey

#contact-type
  %h3
    Twitter
  %a{:href => "http://twitter.com/mutedsolutions"} @mutedsolutions
  %br
  %a{:href => "http://twitter.com/derickbailey"} @derickbailey
  %br
  %a{:href => "http://twitter.com/backbonejsclass"} @bakcbonejsclass
  %br
  %a{:href => "http://twitter.com/bluefinpad"} @bluefinpad
  %br
  %a{:href => "http://twitter.com/albacorebuild"} @albacorebuild
