%h2 
  Contact Me

%p
  Please feel free to contact me with any questions, comments, requests for more information, etc. I will generally respond within 1 business day. 

#contact-type
  %h3
    E-Mail
  %a{:href => "derick@mutedsolutions.com"} derick@mutedsolutions.com

#contact-type
  %h3
    Twitter
  %a{:href => "http://twitter.com/mutedsolutions"} @mutedsolutions
