!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Muted Solutions - Letting you focus on what's important
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheets/mutedsolutions.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body
    .container
      .header
        %h1 
          .muted Muted 
          .solutions Solutions
        .tagline Letting you focus on what's important
      .main
        %h2 Why do you need a Muted Solution?
        %p 
          Your business has needs and those needs that can be met with many existing software packages. However, those packages do not understand your specific needs. They provide generic solutions that can be obnoxious to work with, get in your way or require constant attention and maintenance. 
        %p 
          You have far more important items to think about. You need to focus on your business, not the tools that support it.
        %p
          What your business needs, is an elegant solution that fits naturally into the way you work. One that is there when you need it, allows you to get the job done quickly and easily, and is out of your mind when you are done. 
        %p
          You need a muted solution; one that lets you focus on what's important.
      .footer
        %p Copyright &copy;2010 Muted Solutions, LLC.

