!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Muted Solutions - Letting you focus on what's important
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheets/mutedsolutions.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body
    .container
      .header
        %h1 
          .muted Muted 
          .solutions Solutions
        .tagline letting you focus on what's important
        #right-box &nbsp;
      .main
        %h2 Why do you need a Muted Solution?
        %p 
          You shoud be focused on your business, not the tools that support it.
        %p
          Your business has needs which may be met with existing software packages. However, those packages do not understand your exact needs. They provide generic solutions that can be obnoxious to work with, get in your way, or require constant attention and maintenance. 
        %p 
          You need an elegant solution that fits naturally into the way you work. You need a solution that is available when required, allows you to your work quickly and easily, and is out of your mind when you are done. 
        %p
          %b
            You need a muted solution; one that lets you focus on what's important.
        %p
          For more information on how you can receive a Muted Solution, contact me at
          %a{:href => "mailto:derick@mutedsolutions.com"}
            derick@mutedsolutions.com
      .footer
        %p Copyright &copy;2010 Muted Solutions, LLC.

