!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Muted Solutions - Letting you focus on what's important
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheets/mutedsolutions.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body
    .header
      %h1 
        .muted Muted 
        .solutions Solutions
      .tagline Letting you focus on what's important
    .main
      %h2 Welcome To Muted Solutions.
      %p Providing custom software solutions, training, consulting services and more!
    .footer
      %p Copyright &copy;2010 Muted Solutions, LLC.

