%h2 Why do you need a Muted Solution?
%p 
  You shoud be focused on your business, not the tools that support it.
%p
  Your business has needs which may be met with existing software packages. However, those packages do not understand your exact needs. They provide generic solutions that can be obnoxious to work with, get in your way, or require constant attention and maintenance. 
%p 
  You need an elegant solution that fits naturally into the way you work; one that is available when required, allows you to work quickly and easily, and gets out of your way and your mind when you are done. 
%p
  You need a solution that lets you focus on what's important: your business.
  %b You need a muted solution.
%p
  For more information on how you can receive a Muted Solution, contact me at
  %a{:href => "mailto:derick@mutedsolutions.com"}
    derick@mutedsolutions.com

