%h2 Custom Software Development, Consulting, Training, And More

%p
  My name is Derick Bailey. I specialize in custom software development,
  consulting, training and other software related services. I write articles.
  I do podcasts and screencasts. I speak at conferences. And, I deliver quality
  software solutions with 
  %a{:href => "/about"} a distinct philosopy.

%p
  I specialize in: 
  %ul
    %li Ruby
    %li Ruby on Rails
    %li Sinatra
    %li HTML and CSS
    %li JavaScript
    %li
      %b
        %a{:href => "http://backbonetraining.net"}Backbone.js
    %li jQuery
    %li Microsoft's .NET platform
    %li and more
    
%p
  For more information about me, my experience, and my philosopy on software
  development, see the 
  %a{:href => "/about"}about 
  page.

%p
  If you would like to get in touch with me for any reason, please see the
  %a{:href => "/contact"} contact
  page.


