!!! 5
%html
  %head
    %title Muted Solutions - Letting you focus on what's important

    %meta{'http-equiv'=>"Content-Type", :content=>"text/html;charset=UTF-8"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %meta{:name => 'description', :content => "Muted Solutions - Consulting, Contracting, and Training For Ruby on Rails, Javascript, .NET, and More From Derick Bailey"}
    %meta{:name => 'keywords', :content => "ruby, rails, javascript, sinatra, backbone.js, training, consulting, custom, software, development, c#, .net, asp.net, mvc, object, oriented, programming"}
    %meta{:name => 'author', :content => "Derick Bailey"}

    %link{:href=>"/stylesheets/mutedsolutions.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20471045-1']);
      _gaq.push(['_setDomainName', 'mutedsolutions.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  %body
    .container
      .header
        #left-button
          %a{:href => "/"} home
        #left-button
          %a{:href => "/contact"} contact
        #right-button
          %a{:href => "/about"} about
        #right-button
          %a{:href => "/publications"} publications
        #right-button
          %a{:href => "/projects"} projects
        #right-button
          %a{:href => "/training"} training
      .sidebar
        %h1 
          .muted Muted 
          .solutions Solutions
        .tagline letting you focus on what's important
        #corner-logo
          #right-box &nbsp;
          #right-box &nbsp;
          #clear
            #right-box &nbsp;
      .main
        = yield
      .footer
        %p Copyright &copy;2011 Muted Solutions, LLC. All Rights Reserved.
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20471045-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
