%h2 Projects

%p
  These are some of the projects that I am either working on currently, or have worked on in the past. 

#project
  %h3 Watch Me Code!

  %ol
    %li 
      %b Website: 
      %a{:href => "http://watchmecode.net"} WatchMeCode.net

    %li
      %b Description: 
      %p 
        Screencasts with the intent of showing real-world code, tools and related
        subjects. 
        
#project
  %h3 The CoderTalk Show

  %ol
    %li 
      %b Website: 
      %a{:href => "http://codertalkshow.com"} CoderTalkShow.com

    %li 
      %b Twitter: 
      %a{:href => "http://twitter.com/codertalk"} @codertalk

    %li
      %b Description: 
      %p 
        The CoderTalk Show is a weekly podcast hosted by 
        %a{:href => "http://joeybeninghove.net"}Joey Beninghove
        and co-hosted by me. Each week we get together with a number of other
        developers, via skype, and talk about whatever is on our minds.

#project
  %h3 Bluefin SketchPads
  %h4 Online Collaborative Whiteboards

  %ol
    %li 
      %b Website: 
      %a{:href => "http://bluefinpad.net"} bluefinpad.net

    %li
      %b Description: 
      %p 
        Bluefin SketchPads is a small project tht I started when I was working
        with a distributed team of developers. It provides a simple way for
        people around the world to collaborate visually, as if the were all in
        the same room, huddled around a whiteboard.

#project
  %h3 Backbone.ModelBinding
  %h4 Awesome model binding for Backbone.js

  %ol
    %li 
      %b Website: 
      %a{:href => "http://github.com/derickbailey/backbone.modelbinding"} github.com/derickbailey/backbone.modelbinding

    %li
      %b Description: 
      %p 
        Backbone.ModelBinding is a plugin for the 
        %a{:href => "http://documentcloud.github.com/backbone"}Backbone.js
        framework. It provides a set of convention based bindings to
        automatically move data from your form inputs into your Backbone models
        and vice-versa. It also provides a convenient 'data-bind' capability
        for HTML elements other than form inputs, allowing your HTML to be
        updated automatically when your model data changes.

#project
  %h3 Backbone.Memento
  %h4 Store and restore your Backbone.js model state

  %ol
    %li 
      %b Website: 
      %a{:href => "http://github.com/derickbailey/backbone.memento"} github.com/derickbailey/backbone.memento

    %li
      %b Description: 
      %p 
        Backbone.ModelBinding is a plugin for the 
        %a{:href => "http://documentcloud.github.com/backbone"}Backbone.js
        framework. It provides an implementation of the memento pattern for
        your Backbone.js models, allowing you to store and restore the state
        of your models, easily.

#project
  %h3 Albacore
  %h4 Dolphin-Safe Rake Tasks For .NET Systems

  %ol
    %li 
      %b Website: 
      %a{:href => "http://albacorebuild.net"} albacorebuild.net

    %li
      %b Description: 
      %p Albacore is a suite of rake tasks that aims to make automated builds for .NET systems simple. By taking advantage of Ruby and Rake, Albacore places a tremendous amount of power at the fingertips of developers, with the simplicity and elegance of the Ruby language.

#project
  %h3 Other Open-Source Projects

  %ol
    %li 
      %b Website: 
      %a{:href => "http://github.com/derickbailey"} github.com/derickbailey

    %li
      %b Description: 
      %p 
        I have many other open source projects, sets of training materials and
        more hosted on my Github account. Be sure to take a look to see what I
        am working on.
