%h2 Projects

%p
  These are some of the projects that I am either working on currently, or have worked on in the past. 

#project
  %h3 Albacore: Dolphin-Safe Rake Tasks For .NET Systems

  %ol
    %li 
      %b Website: 
      %a{:href => "http://albacorebuild.net"} albacorebuild.net

    %li
      %b Description: 
      %p Albacore is a suite of rake tasks that aims to make automated builds for .NET systems simple. By taking advantage of Ruby and Rake, Albacore places a tremendous amount of power at the fingertips of developers, with the simplicity and elegance of the Ruby language.
