%h2 Publications

%p
  These are the publications that I have done or am currently doing, includin both print and onlnine, articles and blogging, etc.

#publication
  %h3 Blog: LosTechies

  %ol
    %li 
      %b Website: 
      %a{:href => "http://derickbailey.lostechies.com"} derickbailey.lostechies.com

    %li
      %b Description: 
      %p LosTechies is a community of technology professionals from around the world, and is the home of my primarily technical blog. I tend to keep the content here very professional, geared toward technical issues and solutions, or in the realm of project and people related management for technical teams.

#publication
  %h3 Blog: Opinions And Technology

  %ol
    %li 
      %b Website: 
      %a{:href => "http://derickbailey.tumblr.com"} derickbailey.tumblr.com

    %li
      %b Description: 
      %p My Tumblr blog tends to be highly opinionated and a little less professional. Though I do try to not be out-right offensive, I tend to rant a little more and offer opinions that may be not be as well thought out as what I post on LosTechies.

#publication
  %h3 Article: Building .NET Systems with Ruby, Rake and Albacore

  %ol
    %li
      %b Published:
      CoDe Magazine, May / June 2010
    %li 
      %b URL: 
      %a{:href => "http://www.code-magazine.com/article.aspx?quickid=1006101"} CoDe Magazine, Quick ID: 1006101

    %li
      %b Description: 
      %p An introduction to the Albacore build system, including instructions on installing Ruby and Rake in a Windows environment. The article is outdated from a syntax perspective, but still does a great job of introducing the tools and will help get a new user up and running, quickly.

#publication
  %h3 Article: S.O.L.I.D. Software Development, One Step At A Time

  %ol
    %li
      %b Published:
      CoDe Magazine, January / February 2010
    %li 
      %b URL: 
      %a{:href => "http://www.code-magazine.com/article.aspx?quickid=1001061"} CoDe Magazine, Quick ID: 1001061

    %li
      %b Description: 
      %p An journey through the five SOLID principles: Single Responsibility, Open-Closed, Liskov Substitution, Interface Segregation, and Dependency Inversion. This article takes a two-pronged approach, with half of the article being a technical description and half of it following a small but growing project in an average development department. Code samples are in C#.
