%h2 Developer Training

%p
  I offer various training classes on many different subjects. My class list
  is currently limited to Backbone.js, but I do have additional materials
  from previous classes and subjects. Please
  %a{:href => "/contact"}contact me
  for more information on subjects that are not listed here.

%h3 
  %a{:href => "http://backbonetraining.net"}Backbone.js Training

%p
  %a{:href => "http://documentcloud.github.com/backbone"}Backbone.js 
  is a JavaScript framework in the MV* family of architectures. It
  allows us to write well organized, highly interactive, multi-page applications
  within a single page of a website. 

%p 
  I offer a full 2-day training course on Backbone.js, covering object oriented
  JavaScript, test-driven JavaScript with Jasmine and more.

%p
  For a complete course outline, cost, and other information please see my 
  website for this training class at:
  %b 
    %a{:href => "http://backbonetraining.net"}BackboneTraining.net
